*.pyc
*.log
.project
*.swp
*.xml
.pydevproject
local_settings.py
local_urls.py
media/*/*
inspect_model.py
*.DS_Store
.idea/*
*wp*
*.mp4
media/*
*.sqlite3
static/bower_components
static/node_modules
static/.sass-cache
apps/
list_file.py
